.form-control{
    width: 328px;;
    height: 39px;
	font-size:15px;
}
.btn-login,.btn-login:focus{
	background-color: #051533;
	color:white;
	border-radius: 0px;
	font-size: 15px;
	width: 134px;
}
.btn-login:hover{
	color:white;
	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
.btn-tc,.btn-tc:focus{
	background-color: #051533;
	color:white;
	border-radius: 0px;
	font-size: 15px;
	width: 215px;
}
.btn-tc:hover{
	color:white;
	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
.btn-register,.btn-register:focus{
	background-color: #051533;
	color:white;
	border-radius: 0px;
}
.btn-register:hover{
	color:white;
	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
.btn-submit{
	background-color: #051533;
	color:white;
	border-radius: 0px;
	margin-top: 20px;
}
.btn-submit:hover{
	color:white;
	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
.header{
	height: 100px;
    text-align: center;
    background-color: #051533;
    width: 96%;
    border-radius: 4px;
    margin-left: 32px;
}
h2{
	
	margin-top: -7px;
    margin-bottom: 36px;
    padding-top: 29px;
    color:white;
    font-weight: 200;
    font-size:32px;
    color:#051533;
}
.container-fluid{
	padding-right: 0px;
    padding-left: 0px;
    height: 88px;
}
form{
	margin-top: 50px;
}
.form-horizontal .form-group {
    padding: 0px;
    margin-top: 20px;
}
.control-label{
	font-size:15px;
	color:#051533;
	font-weight: 400;
}
.radio-inline{
	font-size:15px;
}
.radio-inline input[type=radio] {
    margin-left: -47px;
    width: 100%;
    height: 1em;
}
h3{
	font-weight:600;
	font-size: 33px;
	margin-bottom: 36px;
}
.btn-address{
	background-color:#051533; 
	color:white;
	margin-left: 20px;
	border-radius: 0px;
}
.btn-address:hover{
	color:white;
	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
.btn-edit{
	background-color:#051533; 
	color:white;
	margin-left: 20px;
	border-radius: 0px;
}
.btn-edit:hover{
	color:white;
	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
.btn-delete{
	background-color:#051533; 
	color:white;
	margin-left: 20px;
	border-radius: 0px;
}
.btn-delete:hover{
	color:white;
	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
td{
	text-align: center;
}

th {
    text-align: center;
    background-color: #051533;
    color: white;
}
.table{
	margin-top: 50px;
}
.btn-menu{
	background-color:white; 
	color:#788aac;
	border:1px solid #051533;
	margin-left: 20px;
	border-radius: 0px;
}
.btn-menu:hover{
	color:#788aac;
	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
.btn-logout{
	background-color:white; 
	color:#788aac;
	border:1px solid #788aac;
	margin-left: -28px;
	border-radius: 0px;
}
.btn-logout:hover{
	color:#788aac;
	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
.menu{
	position: relative;
    top: -54px;
    text-align: left;
}
.menu-logout{
	position: relative;
    top: -86px;
    text-align: right;
    margin-right: 21px;
    width: 40px;
    float: right
}
a{
	text-decoration: none;
	color:#788aac;
}
a:hover,a:focus{
	text-decoration: none;
	color:#788aac;
}
.required{
	color:red;
}
input[type=text]{
	border-radius: 0;
}
.col-sm-offset-5 {
    margin-left: 41.666667%;
    margin-right: -49px;
}
.col-sm-4 {
    width: 28.333333%;
}
p {
    font-size: 17px;
}
.nav-link,.nav-link:hover,.nav-link:focus{
	color:white;
}
.navbar-brand{
	color:white;
	font-size: 29px;
}
.navbar-nav {
    float: left;
    margin: 0;
    margin-top: 58px;
    font-size: 19px;
    padding-left: 0px;
}
.navbar-nav>li {
    padding-right: 230px;
    margin-left: -171px;
}
.tab1,.tab2 {
    margin-top: 55px;
}
tr{
	height:40px;
}
#categoryButton,#productButton{
	width:164px;
}
.modal-title {
    margin: 16px;
    line-height: 1.42857143;
    color: #051533;
}
button.close {
	color: #051533;
    margin: 13px;
}
#productForm .form-control{
	width:585px;
}
.modal-lg {
    width: 1025px;
}
.form-control-product {
    width: 234px;
    line-height: 34px;
    height: 39px;
    font-size: 15px;
    display: block;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
.col-sm-6.productLeft {
    padding-left: 0px;
    margin-bottom: 10px;
}
.col-sm-6.productRight {
    left: -52px;
    margin-bottom: 10px;
}
.credit-form-control{
    width: 406px;
    font-size: 15px;
    display: block;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
.checkbox .control-label {
    text-align: center;
}
.nav-link-logout{
	color: white;
	margin-left: 229px;
}
.col-sm-10{
	width: 90%;
}
