
<web-app id="WebApp_ID" version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	<display-name>HibernateAssignment</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
	
	 <servlet>
	    <servlet-name>Login</servlet-name>
	    <jsp-file>/WEB-INF/JSP/login.jsp</jsp-file>
	  </servlet>
	  <servlet-mapping>
	    <servlet-name>Login</servlet-name>
	    <url-pattern>/Login</url-pattern>
	  </servlet-mapping>
	  <servlet>
	    <servlet-name>Register</servlet-name>
	    <jsp-file>/WEB-INF/JSP/register.jsp</jsp-file>
	  </servlet>
	  <servlet-mapping>
	    <servlet-name>Register</servlet-name>
	    <url-pattern>/Register</url-pattern>
	  </servlet-mapping>
	  <servlet>
	    <servlet-name>Display</servlet-name>
	    <jsp-file>/WEB-INF/JSP/display.jsp</jsp-file>
	  </servlet>
	  <servlet-mapping>
	    <servlet-name>Display</servlet-name>
	    <url-pattern>/Display</url-pattern>
	  </servlet-mapping>
	  <servlet>
	    <servlet-name>AddressDetails</servlet-name>
	    <jsp-file>/WEB-INF/JSP/address.jsp</jsp-file>
	  </servlet>
	  <servlet-mapping>
	    <servlet-name>AddressDetails</servlet-name>
	    <url-pattern>/AddressDetails</url-pattern>
	  </servlet-mapping>
	  <servlet>
	    <servlet-name>AddAddress</servlet-name>
	    <jsp-file>/WEB-INF/JSP/add_address.jsp</jsp-file>
	  </servlet>
	  <servlet-mapping>
	    <servlet-name>AddAddress</servlet-name>
	    <url-pattern>/AddAddress</url-pattern>
	  </servlet-mapping>
	  <servlet>
	    <servlet-name>EditAddress</servlet-name>
	    <jsp-file>/WEB-INF/JSP/edit_address.jsp</jsp-file>
	  </servlet>
	  <servlet-mapping>
	    <servlet-name>EditAddress</servlet-name>
	    <url-pattern>/EditAddress</url-pattern>
	  </servlet-mapping>
	  <servlet>
	    <servlet-name>EditAdmin</servlet-name>
	    <jsp-file>/WEB-INF/JSP/edit_admin.jsp</jsp-file>
	  </servlet>
	  <servlet-mapping>
	    <servlet-name>EditAdmin</servlet-name>
	    <url-pattern>/EditAdmin</url-pattern>
	  </servlet-mapping>
	  <servlet>
	    <servlet-name>EditOther</servlet-name>
	    <jsp-file>/WEB-INF/JSP/edit_other.jsp</jsp-file>
	  </servlet>
	  <servlet-mapping>
	    <servlet-name>EditOther</servlet-name>
	    <url-pattern>/EditOther</url-pattern>
	  </servlet-mapping>
	  <servlet>
	  	<servlet-name>UserDataServlet</servlet-name>
	  	<servlet-class>com.servlets.UserDataServlet</servlet-class>
	  </servlet>
	  <servlet-mapping>
	  	<servlet-name>UserDataServlet</servlet-name>
	  	<url-pattern>/UserDataServlet</url-pattern>
	  </servlet-mapping>
	  <servlet>
	  	<servlet-name>LoginServlet</servlet-name>
	  	<servlet-class>com.servlets.LoginServlet</servlet-class>
	  </servlet>
	  <servlet>
	  	<display-name>AddAddressServlet</display-name>
	  	<servlet-name>AddAddressServlet</servlet-name>
	  	<servlet-class>com.servlets.AddAddressServlet</servlet-class>
	  </servlet>
	  <servlet>
	  	<description>
	  	</description>
	  	<display-name>DeleteServlet</display-name>
	  	<servlet-name>DeleteServlet</servlet-name>
	  	<servlet-class>com.servlets.DeleteServlet</servlet-class>
	  </servlet>
	  <servlet>
	  	<description>
	  	</description>
	  	<display-name>DeleteAddressServlet</display-name>
	  	<servlet-name>DeleteAddressServlet</servlet-name>
	  	<servlet-class>com.servlets.DeleteAddressServlet</servlet-class>
	  </servlet>
	  <servlet>
	  	<description>
	  	</description>
	  	<display-name>EditAddressServlet</display-name>
	  	<servlet-name>EditAddressServlet</servlet-name>
	  	<servlet-class>com.servlets.EditAddressServlet</servlet-class>
	  </servlet>
	  <servlet>
	  	<description>
	  	</description>
	  	<display-name>EditDataServlet</display-name>
	  	<servlet-name>EditDataServlet</servlet-name>
	  	<servlet-class>com.servlets.EditDataServlet</servlet-class>
	  </servlet>
	  <servlet>
	  	<description>
	  	</description>
	  	<display-name>EditOtherServlet</display-name>
	  	<servlet-name>EditOtherServlet</servlet-name>
	  	<servlet-class>com.servlets.EditOtherServlet</servlet-class>
	  </servlet>
	  <servlet>
	  	<description>
	  	</description>
	  	<display-name>LogoutServlet</display-name>
	  	<servlet-name>LogoutServlet</servlet-name>
	  	<servlet-class>com.servlets.LogoutServlet</servlet-class>
	  </servlet>
	  <servlet-mapping>
	  	<servlet-name>LoginServlet</servlet-name>
	  	<url-pattern>/LoginServlet</url-pattern>
	  </servlet-mapping>
	  <servlet-mapping>
	  	<servlet-name>AddAddressServlet</servlet-name>
	  	<url-pattern>/AddAddressServlet</url-pattern>
	  </servlet-mapping>
	  <servlet-mapping>
	  	<servlet-name>DeleteServlet</servlet-name>
	  	<url-pattern>/DeleteServlet</url-pattern>
	  </servlet-mapping>
	  <servlet-mapping>
	  	<servlet-name>DeleteAddressServlet</servlet-name>
	  	<url-pattern>/DeleteAddressServlet</url-pattern>
	  </servlet-mapping>
	  <servlet-mapping>
	  	<servlet-name>EditAddressServlet</servlet-name>
	  	<url-pattern>/EditAddressServlet</url-pattern>
	  </servlet-mapping>
	  <servlet-mapping>
	  	<servlet-name>EditDataServlet</servlet-name>
	  	<url-pattern>/EditDataServlet</url-pattern>
	  </servlet-mapping>
	  <servlet-mapping>
	  	<servlet-name>EditOtherServlet</servlet-name>
	  	<url-pattern>/EditOtherServlet</url-pattern>
	  </servlet-mapping>
	  <servlet-mapping>
	  	<servlet-name>LogoutServlet</servlet-name>
	  	<url-pattern>/LogoutServlet</url-pattern>
	  </servlet-mapping>
</web-app>
